.table{
    border-collapse: collapse;
    overflow:scroll;
    width: 100%;
    border-radius: 10px;
}

.tablediv{
    height:200px;
    width: 400px;
}

table.details{
    table-layout: fixed;
    margin: auto;
  }
  
td{
    text-align: left;
    padding :5px;
}

h1{
    background-color: rgb(231, 161, 55);
    margin:auto;
    height:50px;
}

.container{
    text-align: center;
    width:30%;
    background-color: #284247;
    color:white;
    margin: auto;
    margin-top:20px;
    padding:10px;
    border-radius: 10px;
}